.bussines {
  // .bussines__content
  background: linear-gradient(180deg, #111 27.78%, rgba(17, 17, 17, 0.66) 57.52%, #111 88.97%),
    url("./../img/head-bg.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 600px) {
    height: 550px;
  }
  &__content {
    position: relative;
    padding-bottom: 120px;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // .bussines__title

  &__title {
    font-family: var(--font-accent);
    font-size: 84px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 140px;
    margin-bottom: 80px;
    text-transform: uppercase;

    @media (max-width: 1440px) {
      font-size: 64px;
    }
    @media (max-width: 700px) {
      font-size: 24px;
      max-width: 221px;
      padding-top: 20px;
      margin-bottom: 60px;
    }
  }

  // .bussines__inner

  &__inner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #bbbbc3;
      top: -50px;
      left: 0;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
  }

  // .bussines__increase

  &__increase {
    background-color: #ffdb60;
    padding: 20px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: bold;
    max-width: 580px;
    position: absolute;
    @media (max-width: 1440px) {
      font-size: 20px;
      max-width: 350px;
    }
    @media (max-width: 840px) {
      font-size: 14px;
      max-width: 244px;
    }
    @media (max-width: 600px) {
      padding: 10px;
    }
  }

  // .bussines__inner-box

  &__inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      max-width: 600px;
      max-height: 600px;
    }
    @media (max-width: 1040px) {
      img {
        width: 400px;
      }
      @media (max-width: 600px) {
        margin-top: 84px;
      }
      @media (max-width: 400px) {
        img {
          width: 320px;
        }
      }
    }
  }

  // .bussines__money

  &__money {
    position: absolute;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    background-color: #ffffff2c;
    padding: 20px;
    max-width: 480px;
    right: 0;
    top: 45%;
    border-radius: 20px;
    @media (max-width: 1440px) {
      font-size: 20px;
      max-width: 350px;
    }
    @media (max-width: 1040px) {
      top: 37%;
    }
    @media (max-width: 840px) {
      font-size: 14px;
      max-width: 244px;
      left: 0;
      top: 40%;
    }
    @media (max-width: 600px) {
      font-size: 10px;
      font-weight: 500;
      line-height: 120%;
      max-width: 160px;
      padding: 10px;
    }
    @media (max-width: 400px) {
      top: 37%;
    }
  }
}

.form {
  // .form__content
  @media (max-width: 1040px) {
    width: 100%;
  }
  @media (max-width: 600px) {
    margin-top: -100px;
  }
  &__content {
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
    input {
      color: #3f3f44;
      font-size: 20px;
      padding-left: 37px;
      border-right: 2px solid #bbbbc3;
      height: 70px;
      padding-left: 23px;
      &:nth-child(3) {
        border-right: none;
        @media (max-width: 1040px) {
          border-bottom: none;
          margin-bottom: 10px;
        }
      }
    }
    @media (max-width: 1040px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      input {
        border-bottom: 1px solid #bbbbc3;
        border-right: none;
      }
    }
    @media (max-width: 800px) {
      border-radius: 10px;
    }
  }

  // .form__btn

  &__btn {
    font-weight: bold;
    font-size: 20px;
    background-color: #ffdb60;
    border-radius: 50px;
    padding: 20px 40px;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 1040px) {
      max-width: 280px;
      margin: 10px auto;
    }
  }
}
