.feetback {
  background-color: #000;
  padding: 100px 0;
  // .feetback__content
  @media (max-width: 600px) {
    margin-top: 250px;
  }

  &__content {
    background-color: #fff;
    border-radius: 50px;
    padding: 50px 140px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media (max-width: 1440px) {
      padding: 50px;
    }
    @media (max-width: 700px) {
      border-radius: 20px;
      gap: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 17px;
    }
  }

  // .feetback__title

  &__title {
    font-family: var(--font-accent);
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    @media (max-width: 700px) {
      font-size: 22px;
      text-transform: uppercase;
      line-height: 100%;
    }
  }

  // .feetback__content-box

  &__content-box {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    @media (max-width: 1100px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 700px) {
      gap: 20px;
    }
  }

  // .feetback__text-box

  // &__text-box {

  // }

  // .feetback__descr

  &__descr {
    font-size: 24px;
    @media (max-width: 700px) {
      font-size: 14px;
    }
  }

  // .feetback__name

  &__name {
    font-size: 32px;
    margin-top: 20px;
    font-weight: 500;
  }
}

.arrow-video {
  animation: arrowMove 2s linear infinite;
  min-width: 60px;
  @media (max-width: 1100px) {
    rotate: -45deg;
  }
}
.popup {
  // .popup__img
  position: relative;
  &__img {
    min-width: 350px;
    height: 238px;
    border-radius: 10px;
    @media (max-width: 400px) {
      min-width: 280px;
      height: 184px;
    }
  }

  // .popup__btn

  &__btn {
    position: absolute;
    left: 40%;
    top: 40%;
  }
}

@keyframes arrowMove {
  0% {
    transform: translate(0, 0); /* Початкова позиція - верхній лівий кут */
  }
  50% {
    transform: translate(-20%, 20%);
  }
  100% {
    transform: translate(0, 0);
  }
}
